<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzcoder.opensource.blog.mapper.IArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fzcoder.opensource.blog.entity.Article">
        <id column="id" property="id" />
        <result column="author_id" property="authorId" />
        <result column="title" property="title" />
        <result column="date" property="date" />
        <result column="update_time" property="updateTime" />
        <result column="introduction" property="introduction" />
        <result column="category_id" property="categoryId" />
        <result column="cover" property="cover" />
        <result column="content_md" property="contentMd" />
        <result column="content_html" property="contentHtml" />
        <result column="status" property="status" />
    </resultMap>

    <!-- Article VO -->
    <resultMap id="ArticleViewMap" type="com.fzcoder.opensource.blog.vo.ArticleView">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="date" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="introduction" property="introduction" />
        <result column="cover" property="cover" />
        <association property="author"
                     javaType="com.fzcoder.opensource.blog.vo.UserView"
                     column="author_id"
                     select="com.fzcoder.opensource.blog.mapper.UserMapper.selectViewObjectById" />
        <association property="category"
                     javaType="com.fzcoder.opensource.blog.vo.CategoryView"
                     column="category_id"
                     select="com.fzcoder.opensource.blog.mapper.CategoryMapper.selectViewObjectById" />
        <collection property="tags"
                    javaType="java.util.List"
                    column="id"
                    select="com.fzcoder.opensource.blog.mapper.TagMapper.selectRelationList">
            <id property="tagId" column="tag_id"/>
            <result property="tagName" column="tag_name"/>
        </collection>
    </resultMap>

    <!-- 展示文章VO -->
    <resultMap id="PostMap" type="com.fzcoder.opensource.blog.vo.Post" extends="ArticleViewMap">
        <result column="content_html" property="contentHtml" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, author_id, title, date, update_time, introduction, category_id,
        cover, content_md, content_html, status
    </sql>

    <select id="selectPostById" resultMap="PostMap">
        SELECT
        id, author_id, title, `date`, update_time,
        introduction, category_id, cover, content_html
        FROM
        tb_article
        WHERE id = #{id} AND status = 1
    </select>

    <select id="selectListByDate" resultMap="ArticleViewMap">
        SELECT
        t_a.*
        FROM
        (SELECT t.id, t.author_id, t.title, t.`date`, t.update_time, t.introduction, t.category_id, t.cover, t.status,
        DATE_FORMAT(date, '%Y-%m') AS time_stamp FROM tb_article As t)t_a
        WHERE
        t_a.author_id = #{uid} AND time_stamp = #{create_date} AND t_a.status = 1
        ORDER BY t_a.date DESC
    </select>

    <select id="selectPages" resultMap="ArticleViewMap">
        SELECT
        id, author_id, title, `date`, update_time, introduction, category_id, cover
        FROM
        tb_article
        ${ew.customSqlSegment}
    </select>

    <select id="countById" resultType="int">
        SELECT COUNT(id) FROM tb_article WHERE id=#{id}
    </select>

</mapper>
