<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frankfang.mapper.CountMapper">

    <select id="selectArticleRecords" resultType="java.util.Map">
        SELECT
          tb_article.id,
          tb_article.author_id,
          tb_article.title,
          tb_article.category_id,
          tb_category.name AS category_name,
          DATE(date) AS create_date,
          TIME_FORMAT(date,'%H:%i:%S') AS create_time
        FROM
          tb_article, tb_category
        WHERE
          tb_article.category_id = tb_category.id AND
          tb_article.author_id = #{uid}
    </select>

    <resultMap id="DynamicMap" type="com.frankfang.bean.Dynamic">
        <result column="time_stamp" property="timeStamp"></result>
        <collection property="content"
                    column="{create_date=time_stamp,uid=uid}"
                    select="com.frankfang.mapper.EventMapper.selectListWithCreateDate"/>
    </resultMap>

    <select id="selectDynamicList" resultMap="DynamicMap">
        SELECT create_date AS time_stamp, uid FROM tb_event
        WHERE uid=#{uid} AND create_date BETWEEN #{start_date} AND #{end_date}
        GROUP BY create_date
    </select>

    <select id="selectContributionList" resultType="java.util.Map">
        SELECT create_date AS `date`, SUM(contribution) AS contribution
        FROM tb_event
        WHERE
        uid=#{uid} AND
        create_date BETWEEN #{start_date} AND #{end_date}
        GROUP BY create_date
    </select>

</mapper>
