<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzcoder.opensource.blog.mapper.ICountMapper">

    <select id="selectArticleRecords" resultType="java.util.Map">
        SELECT
          tb_article.id,
          tb_article.author_id,
          tb_article.title,
          tb_article.category_id,
          tb_category.name AS category_name,
          DATE(date) AS create_date,
          TIME_FORMAT(date,'%H:%i:%S') AS create_time
        FROM
          tb_article, tb_category
        WHERE
          tb_article.category_id = tb_category.id AND
          tb_article.author_id = #{uid}
    </select>

    <resultMap id="DynamicMap" type="com.fzcoder.opensource.blog.bean.Dynamic">
        <result column="time_stamp" property="timeStamp"></result>
        <collection property="content"
                    column="{create_date=time_stamp,uid=author_id}"
                    select="com.fzcoder.opensource.blog.mapper.IArticleMapper.selectListByDate"/>
    </resultMap>

    <select id="selectDynamicList" resultMap="DynamicMap">
        SELECT t.* FROM
        (SELECT t_a.author_id, t_a.status, DATE_FORMAT(date, '%Y-%m') AS time_stamp FROM tb_article AS t_a)t
        WHERE
        t.author_id = #{uid} AND t.status = 1 AND time_stamp BETWEEN #{start_date} AND #{end_date}
        GROUP BY time_stamp ORDER BY time_stamp DESC
    </select>

    <select id="selectContributionList" resultType="java.util.Map">
        SELECT create_date AS `date`, SUM(contribution) AS contribution
        FROM tb_record
        WHERE
        uid=#{uid} AND create_date BETWEEN #{start_date} AND #{end_date}
        GROUP BY create_date
    </select>

</mapper>
