<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzcoder.mapper.EventMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fzcoder.entity.Event">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="create_time" property="createTime" />
        <result column="create_date" property="createDate" />
        <result column="event_type" property="eventType" />
        <result column="event_content" property="eventContent" />
        <result column="event_position" property="eventPosition" />
        <result column="prefix_content" property="prefixContent" />
        <result column="prefix_link" property="prefixLink" />
        <result column="suffix_content" property="suffixContent" />
        <result column="suffix_link" property="suffixLink" />
        <result column="status" property="status" />
        <result column="contribution" property="contribution" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uid, create_time, create_date, event_type, event_content, event_position,
        prefix_content, prefix_link, suffix_content, suffix_link, status, contribution
    </sql>

    <select id="selectListWithCreateDate" resultType="com.fzcoder.entity.Event">
        SELECT * FROM tb_event
        WHERE create_date = #{create_date} AND uid = #{uid}
        ORDER BY create_time DESC
    </select>


</mapper>
