<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frankfang.mapper.LikeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.frankfang.entity.Like">
        <id column="id" property="id" />
        <result column="date" property="date" />
        <result column="visitor_ip" property="visitorIp" />
        <result column="object_name" property="objectName" />
        <result column="object_id" property="objectId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, date, visitor_ip, object_name, object_id
    </sql>

</mapper>
