<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzcoder.opensource.blog.mapper.ILinkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fzcoder.opensource.blog.entity.Link">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="linkUrl" property="linkUrl" />
        <result column="iconUrl" property="iconUrl" />
        <result column="shortcut" property="shortcut" />
        <result column="category_id" property="categoryId" />
        <result column="category_name" property="categoryName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, linkUrl, iconUrl, shortcut, category_id, category_name
    </sql>

    <!-- 查询链接的目录分组 -->
    <select id="selectCategoryGroupMap" resultType="map">
        SELECT DISTINCT category_id, category_name  FROM tb_link
    </select>

</mapper>
