<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frankfang.mapper.UserMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.frankfang.entity.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
		<result column="nickname" property="nickname" />
		<result column="avatar" property="avatar" />
		<result column="motto" property="motto" />
		<result column="introduction" property="introduction" />
        <result column="email" property="email" />
        <result column="password" property="password" />
        <result column="home_page" property="homePage" />
        <result column="github" property="github" />
        <result column="gitee" property="gitee" />
        <result column="enabled" property="enabled" />
        <result column="locked" property="locked" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, nickname, avatar, email, password, motto, introduction, enabled, locked
    </sql>

	<select id="selectRolesByUid" resultType="com.frankfang.entity.Role">
		SELECT tb_role.* FROM tb_role INNER JOIN tb_user_role WHERE tb_role.id = tb_user_role.rid AND tb_user_role.uid = #{uid}
	</select>

</mapper>